*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #f0ecec;  
  }
  
  .calculator {
    margin: 50px auto;
    width: 300px;
    border: 1px solid #e7e3e3;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  }
  
  #display {
    width: 98%;
    padding: 5px 0px 5px;
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .buttons {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap: 5px;
  }
  
  button {
    width: 100%;
    padding: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background-color: #cecaca;
  }
  button:hover {
    background-color: #857f7f;
  }
  .clear{
    color: red;
  }
  .equal{
    background-color: rgb(57, 221, 57);
  }
  .equal:hover{
    background-color: rgb(6, 153, 6);
  }